.container {
display: flex;
}

.grid {
width: 200px;
height: 400px;
display: flex;
flex-wrap: wrap;
/* background-color: yellow; */
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 5%;
border:3px solid darkgrey;
}

.grid div {
height: 20px;
width: 20px;
}

.tetromino {
background-color: blue;
}


.mini-grid {
margin-left: 50px;
width: 80px;
height: 80px;
display: flex;
flex-wrap: wrap;
/* background-color: yellow; */
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 5%;
border:3px solid darkgrey;

}

.mini-grid div {
height: 20px;
width: 20px;
}
